<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/estilo.css">
  </head>
  <body>
    <header class="navbar bg-primary" data-bs-theme="dark" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> <a href="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <span class="fs-4 ms-5">Transporte Seguro</span> </a> <ul class="nav nav-pills"> <li class="nav-item">
      <a href="#" class="nav-link text-light" aria-current="page">Home</a></li> 
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Motoristas</a></li>
            <li><a class="dropdown-item" href="#">Pais</a></li>
            <li><a class="dropdown-item" href="#">Alunos</a></li>
          </ul>
        </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rotas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Gerenciar Rotas</a></li>
            <li><a class="dropdown-item" href="#">Exibir Rotas</a></li>
          </ul>
        </li>
    <li class="nav-item"><a href="#" class="nav-link text-light">Ponto Digital</a></li> 
      <li class="nav-item"><a href="{{ url_for('usuarios.logout') }}" class="nav-link text-light">Logout</a></li> 
      
    </ul>    
    </header>
    
      <main>
        <h1 class= "d-flex flex-wrap gap-4 justify-content-center align-items-stretch mb-3 mt-3">Home</h1>
      <!-- Card do Motorista -->

    <div class= "d-flex flex-wrap gap-4 justify-content-center align-items-stretch">
      <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
      <img src="/static/images/motorista.jpg" class="card-img-top" alt="motorista">
      

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Cadastro de Motorista</h5>
      <p class="card-text mb-3">Seção dedicada a cadastrar motoristas, bem como a atualização e exclusão cadastros existentes.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="#" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nesta seção será cadastrado os motoristas parceiros da instituição para que possamos organizar as rotas e as regiões que irão atuar.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
  <!-- Card dos Pais -->
        
    <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
      <img src="/static/images/pais.jpg" class="card-img-top" alt="pais">

  

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Cadastro de Pais</h5>
      <p class="card-text mb-3">Seção dedicada a cadastrar Pais, bem como a atualização e exclusão cadastros existentes.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="#" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        O cadastro dos pais visa organizar as informações de contato e os endereços para a busca dos filhos a instituição.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

             <!-- Card do Aluno -->


            <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem; ">
              <img src="/static/images/alunos.jpg" class="card-img-top" alt="alunos">

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Cadastro de Aluno</h5>
      <p class="card-text mb-3">Seção dedicada a cadastrar Aluno, bem como a atualização e exclusão cadastros existentes.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="#" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Aqui nos cadastramos os nomes dos alunos para que gerenciemos as listas dos alunos nas regiões para a criação das rotas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

 <!-- Card Gerenciador de Rota -->


            <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
              <img src="/static/images/gerenciar_rota.jpg" class="card-img-top" alt="Gerenciar rotas">
  

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Gerenciador de Rota</h5>
      <p class="card-text mb-3">Seção dedicada a gerenciar e organizar as rotas de transposrte dos alunos.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="#" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nesta seção será cadastrado os motoristas parceiros da instituição para que possamos organizar as rotas e as regiões que irão atuar.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- Card Exibição de Rota -->


          <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
              <img src="/static/images/exibir_rota.jpg" class="card-img-top" alt="Exibir Rotas">


  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Exibição  de Rota</h5>
      <p class="card-text mb-3">Seção dedicada para exibir as rotas de transposrte dos alunos.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="#" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Exibição das rotas é realizada por região. Haverá a função de envio de rotas por mensagem.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <!-- Card Ponto digital -->


    <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
      <img src="/static/images/ponto_digital.jpg" class="card-img-top" alt="Ponto Digital">

    <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Ponto digital</h5>
      <p class="card-text mb-3">Seção dedicada para assinar o ponto digital dos funcionários.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="#" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Visando ampliar o escopo da aplicação, os funcionários poderão realizar o ponto de trabalho de forma digital.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        
    </div>
  </main>
    
    
    
    
    <!-- <main class="container py-5">
      <div class="row align-items-center">
        Infomações
        <a href="logout"> logout</a>
      </div>
      
    </main> -->
    <footer class="bg-dark text-white text-center py-3 mt-3">
      Desenvolvido em grupo pelos alunos do grupo DRP07-PJI240 do Eixo de
      Computação da UNIVESP
    </footer>
    <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
   </script>
</body>
</html>