<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Senha</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/estilo.css" />
  </head>

  <body >
    <header class="navbar bg-primary d-flex flex-wrap justify-content-center py-3 mb-4 " data-bs-theme="dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0  link-body-emphasis text-decoration-none"> <span class="fs-4">Transporte Seguro</span> </a>  
    </header>
    <main>
      <div class="container-md mb-4">
        <h3 class="d-flex justify-content-center align-items-center md-3">
          Digite a nova senha.
        </h3>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div
        class="alert alert-{{ category }} container-md"
        style="width: 80%"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <div class="box-form container-md">"
        <form method="post" action="{{ url_for('usuarios.nova_senha', token=token) }}">
          <div class="mb-3">
            <label for="senha"> Senha</label>
            <div class="input-group">
              <input
                class="form-control"
                type="password"
                name="senha"
                id="senha"
                minlength="6"
                maxlength="12"
                required
              />
              <span
                class="input-group-text"
                onclick="mostrarSenha()"
                style="cursor: pointer"
              >
                <i class="bi bi-eye" id="btn-senha"></i>
              </span>
            </div>
            <div id="avisosenha" class="form-text">
              Informe a sua nova senha. A senha deve conter de 6-12 caracteres.
            </div>
          </div>
          <div class="col-md">
            <label for="confirmaSenha"> Confirmar Senha</label>
            <div class="input-group">
              <input
                class="form-control"
                type="password"
                name="confirmar_senha"
                id="confirmaSenha"
                minlength="6"
                maxlength="12"
                required
              />
              <span
                class="input-group-text"
                onclick="mostrarSenha()"
                style="cursor: pointer"
              >
                <i class="bi bi-eye" id="btn-senha"></i>
              </span>
            </div>
            <div id="avisosenha" class="form-text">
              Informe novamente a senha.
            </div>
            <div class="feedback-senha text-danger mt-1"></div>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary mt-3">
              Enviar
            </button>
          </div>
        </form>

        
      </div>
    </main>
    <footer class="bg-dark text-white text-center py-3">
      Desenvolvido em grupo pelos alunos do grupo DRP07-PJI240 do Eixo de
      Computação da UNIVESP
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/script.js"></script>
  </body>
</html>
